# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.opensdf
*.sln.docstates

# Build logs / temporary
*.log
*.tmp

# OS
Thumbs.db
.DS_Store